body{
  background: #37517e;
  
    
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.logo{
  font-family:"jost",sans-serif ;
  font-size: 35px;
  color: #fff;
  text-transform:none;
  margin-left: 60px;
}
.button{
  font-size: 15px;
  padding: 15px;
  margin: auto;   
  border-radius: 70%;
  color: #fff;
  padding: 10px 28px 25px;
  border-color: black;
  background: #37517e;
  transition: 0.5s;


}
.nav{
    background-color:#37517e;
    display: flex;
    font-weight: 30px;
    font-family: "jost", sans-serif;
    

}
.nav ul{
    float: right;
    margin-left: 70px;
    
    
}

.nav ul li {
   font-size: medium;
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    margin: 0 5px;
    font-size:smaller;
    
    
    
    
}
.nav ul li a{
    text-decoration:none;
    text-transform: uppercase;
    position: relative;
    color: aliceblue;
    

}


#h1{
  
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
font-family: "jost", sans-serif;
margin-left: 80px;
margin-top:-55%;


}
#h2{
  color: darkgray;
  margin-left: 70px;
  font-size: 24px;
  margin-bottom: 50px;
  font-family:"jost", sans-serif ;


}
.img{
  width: 50%;
  margin-left: 500px;
  margin-bottom:150px;
  height: 100vh;
  line-height: 36px;
  
  
}
footer{
    margin-top: 600px;
    text-align: center;
    background-color: #37517e;
    color: aliceblue;
}